appdirs==1.4.4
attrs==21.2.0
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.9.3
btrfsutil==5.13.1
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==8.0.1
decorator==5.1.0
distlib==0.3.3
distro==1.5.0
dnspython==1.16.0
evdev==1.4.0
filelock==3.3.2
Flask==2.0.1
Flask-Cors==3.0.10
idna==3.2
importlib-metadata==4.8.1
itsdangerous==2.0.1
Jinja2==3.0.1
jsonschema==3.2.0
lutris==0.5.8.4
lxml==4.6.3
Markdown==3.3.4
MarkupSafe==2.0.1
more-itertools==8.8.0
netsnmp-python==1.0a1
npyscreen==4.10.5
ordered-set==4.0.2
orjson @ file:///build/python-orjson/src/python-orjson-3.6.3/target/wheels/orjson-3.6.3-cp39-cp39-linux_x86_64.whl
packaging==20.9
pacman-mirrors==4.21.5
Pillow==8.3.1
platformdirs==2.4.0
protobuf==3.17.3
PyAudio==0.2.11
PyGObject==3.40.1
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-sip==12.9.0
PyQtWebEngine==5.15.4
pyrsistent==0.18.0
PySocks==1.7.1
pywal==3.3.0
pywalfox==2.7.4
PyYAML==5.4.1
rados==2.0.0
rbd==2.0.0
requests==2.26.0
rgw==2.0.0
Send2Trash==1.8.0
six==1.16.0
soupsieve==2.2.1
team==1.0
ufw==0.36
urllib3==1.26.6
waitress==2.0.0
Werkzeug==2.0.1
zipp==3.5.0
